<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mines.freeganquestcaseysoto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/search_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.mines.freeganquestcaseysoto.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="edu.mines.freeganquestcaseysoto.FreeganContentProvider"
            android:authorities="edu.mines.freeganquestcaseysoto.freeganquestcontentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name="edu.mines.freeganquestcaseysoto.ManagerMain"
            android:label="@string/manMode" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.ItemActivity"
            android:label="@string/manMode" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.CopyOfManagerMain"
            android:label="@string/manMode" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.ManagerFragment"
            android:label="@string/manMode" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.CopyOfItemActivity"
            android:label="@string/manMode" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.AddItemActivity"
            android:label="@string/manMode" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.LocationActivity"
            android:label="@string/manMode" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.HuntActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.AddAnswerActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.mines.freeganquestcaseysoto.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
    </application>

</manifest>
